body {
    background: #adadad url(vader/images/ui-bg_highlight-soft_35_adadad_1x100.png) 50% 50% repeat-x;
}

h1 {
    font: 100px Verdana, sans-serif;
}

.heading {
    text-align: center;
}

.body {
    text-align: center;
}
